<!DOCTYPE html>
<html ng-app="encriptar">
<head>
	<title>Encriptar</title>
	<script src="js/angular.min.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css">
	<script src="js/encriptar.js"></script>

	<style type="text/css"></style>

	<style type="text/css">
		.error {
 		 border-color: red;
		}
	</style>
</head>
<body>

<form name="frmEncriptar">
<div ng-controller="ctrlEncriptar" class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label>Cadena a encriptar</label>
				<input type="text" name="txtEncriptar" class="form-control" ng-model="formData.txtEncriptar" maxlength="30" required>
				<span ng-show="!frmEncriptar.$pristine && frmEncriptar.txtEncriptar.$error.required">Escribe al menos un caracter</span>
			</div>
		</div>
	</div>	

	<div class="row">
		 <div class="col-md-6">
			<div class="form-group">				
				<input type="submit" value="Encriptar" class="btn btn-primary" ng-click="encriptar(formData)" ng-disabled="!frmEncriptar.$valid">
			</div>
		</div>
	</div>

	<div class="row alert-success" ng-model="encriptado">
		<div class="col-md-6">
			{{encriptado}}
		</div>
	</div>		

</div>
</form>



</body>
</html>